page {
  background-color: #c7c7c7;
}

.content {
  justify-content: space-between;
  flex-direction: column;
}

/* form */
.form {
  background-color: #acacac;
  border-radius: 100px 100px 0px 0px;
  padding: 50px;
  overflow: hidden;
}

.form > * {
  color: var(--text);
}

/* form title */
.formTitle {
  font-size: 42;
  font-weight: bold;
}

.formSubTitle {
  font-size: 13;
}

/* input */
TextField {
  color: var(--text);
  background: var(--secondary);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  font-size: 20;
}

/* buttons */
.buttons {
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.buttons > * {
  text-align: center;
}

.button {
  color: var(--text);
  background-color: var(--background);
  border-radius: 15px;
  font-size: 20;
  margin: 0;
}

.button:active {
  color: var(--text);
  background-color: var(--secondary);
}

.minimalButton {
  color: var(--text);
  background-color: #c7c7c700;
  border: solid 0px;
  font-size: 20;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  box-shadow: none;
  height: 30;
}

.minimalButton:active {
  color: var(--text);
}
