.page {
  background-color: var(--background);
}

.accountCard {
  background-color: var(--secondary);
  padding: 25px;
  margin: 25px;
  margin-top: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.07);
  flex-direction: column;
}

.accountName {
  font-size: 30;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

/* stats */
.accountStats {
  margin-top: 20;
  margin-bottom: 20;
  justify-content: space-around;
  width: 100%;
}

.accountStat {
  text-align: center;
  padding: 7;
  border-radius: 15px;
  width: 30%;
  min-width: 60px;
  font-size: 12;
  white-space: normal;
}

.accountStat > .fas {
  font-size: 25;
}

/* action button */
.actionButton {
  background-color: var(--info);
  padding: 25px;
  margin: 25px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.07);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18;
  border-width: 5px;
  background-color: hsla(110, 100%, 65%, 0.431);
  border-color: hsla(100, 100%, 66%, 0.431);
}

.actionButton.gray {
  background-color: #9595956e;
  border-color: #aaaaaa6e;
}

.actionButton.red {
  background-color: hsla(0, 100%, 65%, 0.431);
  border-color: hsla(0, 100%, 66%, 0.431);
}

.actionButton.blue {
  background-color: hsla(237, 100%, 65%, 0.431);
  border-color: hsla(237, 100%, 66%, 0.431);
}

/* actionBar */
.actionBar {
  width: 100%;
  font-size: 25px;
  padding: 25px;
  background: var(--secondary);
}

.goBackIcon {
  margin-right: 60px;
  margin-left: 20px;
  font-size: 30px;
}

